@import url('https://cdnjs.cloudflare.com/ajax/libs/nerd-fonts/3.0.2/css/nerd-fonts.min.css');

body { margin: 0; font-family: "FiraCode Nerd Font", "JetBrainsMono Nerd Font", "Hack Nerd Font", "Nerd Font", sans-serif; }
